version: '3.8'

services:
  scraper-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: scrape-th-api
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./app:/app/app
    networks:
      - scraper-network
    platform: linux/amd64  # Force AMD64 for Mac M1/M2/M3

networks:
  scraper-network:
    driver: bridge
